 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

 * {
   font-family: 'Open Sans', sans-serif;
 }

 nav {
   display: Flex;
   align-items: center;
   justify-content: space-between;
 }

 .text-primary {
   color: #FD6E0A;
 }

 .nav-title {
   color: #181818;
   font-size: 45px;
   font-weight: 800;
 }

 nav>ul {
   display: flex;
   align-items: center;
 }

 nav li {
   list-style: none;
   margin-right: 50px;
 }

 nav a {
   text-decoration: none;
   color: #474747;
 }

 .btn-primary {
   border-radius: 5px;
   background: #FD6E0A;
   border: 0px;
   font-size: 20px;
  color: #fff;
   font-weight: 700;
   padding: 15px 35px;
 }